.paginator {
  @include flex(flex, flex-start, center);
  padding: 0.5rem;
  height: 47px;

  .paginator-manage-buttons,
  .paginator-numeric-buttons,
  .paginator-input-model {
    @include flex(flex, flex-start, center);
    height: 100%;
  }

  .paginator-info {
    margin-left: auto;
    margin-right: 1em;
    color: #656565;
    font-size: 13.5px;
    line-height: 1.4285714286;
  }

  button {
    width: 1.875rem;
    height: 100%;
    background-color: inherit;
  }

  .paginator-manage-buttons {
    button {
      color: rgba(101, 101, 101, 1);

      &:hover:not(:disabled) {
        background-color: #ededed;
      }

      &:focus:not(:disabled) {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.13);
      }

      &:disabled {
        color: rgba(101, 101, 101, 0.7);
      }
    }
  }

  .paginator-numeric-buttons {
    button {
      color: #ff6358;

      &:hover {
        background-color: rgba(255, 99, 88, 0.08);
      }

      &:focus {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 99, 88, 0.12);
      }

      &.current {
        color: #ff6358;
        background-color: rgba(255, 99, 88, 0.2);
      }
    }
  }

  .paginator-input-model {
    margin: 0 0.8em;
    color: #656565;
    font-size: 13.5px;
    line-height: 1.4285714286;

    app-numeric-input {
      margin: 0 7px;
    }
  }

  button.step-to-start,
  button.step-to-end {
    font-size: 0.625rem;
    @include flex();
  }

  button.step-to-forward,
  button.step-to-back {
    font-size: 0.9375rem;
    @include flex();
  }
}
