<div class="container">
  <app-viewer [title]="'Clients data'">
    <div class="table-wrapper">
      <div class="table-header"></div>

      <div class="table-content">
        <table class="sticky-header selectable">
          <thead>
            <tr>
              <th *ngFor="let column of clientsColumn">{{ column | translate }}</th>
              <th>
                <button [disabled]="isCreatingClient" (click)="handleAddClient()" class="sdwi-button">
                  {{ 'BUTTONS.ADD_NEW' | translate}}
                </button>
              </th>
            </tr>
            <!-- <tr>
              <th *ngFor="let type of dessertTableFilters">
                <app-table-filter-item [type]="type"></app-table-filter-item>
              </th>
              <th>
                <button class="sdwi-button">Add new</button>
              </th>
            </tr> -->
          </thead>
          <tbody>
            <ng-container #clientCreateCnt></ng-container>
            <tr *ngFor="let client of clients; let i = index">
              <ng-container [ngTemplateOutletContext]="{ index: i, client: client }" [ngTemplateOutlet]="
                  i === editRowIndex ? rowEditTpl : rowDisplayTpl
                "></ng-container>
            </tr>
            <app-spinner-wrapper *ngIf="!clients" name="clients-base-table" title="Loading, please wait">
            </app-spinner-wrapper>
            <app-empty-table-state *ngIf="clients ? !clients.length : false"></app-empty-table-state>
          </tbody>
        </table>
      </div>
    </div>
  </app-viewer>
</div>

<ng-template #rowDisplayTpl let-client="client" let-index="index">
  <td>{{ client.fullName }}</td>
  <td>{{ client.DOB | date:'shortDate' }}</td>
  <td><a [href]="client.email | anchorLinkFormat" class="link">{{ client.email }}</a></td>
  <td><a [href]="client.phoneNumber | mask:phoneNumberMask | anchorLinkFormat:'tel'"
      class="link">{{ client.phoneNumber | mask:phoneNumberMask }}</a>
  </td>
  <td>{{ client.lastSeenDate | date:'short' }}</td>
  <td>{{ client.lastTransaction | date:'short' }}</td>
  <td>{{ client.account | currency:'RUB':'symbol-narrow':'1.1' }}</td>
  <td>{{ client.status }}</td>
  <td>
    <div class="cell-buttons">
      <button (click)="handleShowEditModel(index, client)" class="sdwi-button danger">
        {{ 'BUTTONS.EDIT' | translate}}
      </button>
      <button (click)="handleDeleteDessert(client.id)" class="sdwi-button">
        {{ 'BUTTONS.REMOVE' | translate}}
      </button>
    </div>
  </td>
</ng-template>

<ng-template #rowEditTpl let-client="client">
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [formControl]="clientEditForm.controls.fullName" class="sdwi-input" type="text" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [mask]="dateMask" [formControl]="clientEditForm.controls.DOB" class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [formControl]="clientEditForm.controls.email" class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [mask]="phoneNumberMask" [formControl]="clientEditForm.controls.phoneNumber"
        class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [mask]="dateTimeMask" [formControl]="clientEditForm.controls.lastSeenDate"
        class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [mask]="dateTimeMask" [formControl]="clientEditForm.controls.lastTransaction"
        class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor suffix="$" mask="separator.2" [formControl]="clientEditForm.controls.account"
        class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <app-form-field class="no-label">
      <input #controlAnchor [formControl]="clientEditForm.controls.status" class="sdwi-input" />
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </td>
  <td>
    <div class="cell-buttons">
      <button (click)="handleUpdateRow(client)" class="sdwi-button">
        Update
      </button>
      <button (click)="handleCancelEdit()" class="sdwi-button">Cancel</button>
    </div>
  </td>
</ng-template>

<ng-template #rowCreateTpl>
  <tr>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [formControl]="clientCreateForm.controls.fullName" class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [mask]="dateMask" [formControl]="clientCreateForm.controls.dob" class="sdwi-input"
          type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [formControl]="clientCreateForm.controls.email" class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input [showMaskTyped]="true" #controlAnchor [mask]="phoneNumberMask" [formControl]="clientCreateForm.controls.phoneNumber"
          class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [mask]="dateTimeMask" [formControl]="clientCreateForm.controls.lastSeenDate"
          class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [mask]="dateTimeMask" [formControl]="clientCreateForm.controls.lastTransaction"
          class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor suffix="$" mask="separator.2" [formControl]="clientCreateForm.controls.account"
          class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <app-form-field class="no-label">
        <input #controlAnchor [formControl]="clientCreateForm.controls.status" class="sdwi-input" type="text" />
        <app-field-error-label></app-field-error-label>
      </app-form-field>
    </td>
    <td>
      <div class="cell-buttons">
        <button (click)="handleCreate()" class="sdwi-button">
          {{ 'BUTTONS.UPDATE' | translate}}
        </button>
        <button (click)="handleCancelCreate()" class="sdwi-button">
          {{ 'BUTTONS.CANCEL' | translate}}
        </button>
      </div>
    </td>
  </tr>
</ng-template>
