<div class="cell-filter-wrapper">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="CustomInputTypes.Text">
      <input [formControl]="formControl" class="sdwi-input" type="text">
    </ng-container>
    <ng-container *ngSwitchCase="CustomInputTypes.Number">
      <app-numeric-input [formControl]="formControl" [min]="3" [max]="5"></app-numeric-input>
    </ng-container>
    <ng-container *ngSwitchCase="CustomInputTypes.Date">
      <input [formControl]="formControl" type="date">
    </ng-container>
    <ng-container *ngSwitchCase="CustomInputTypes.Checkbox">
    </ng-container>
    <ng-template *ngTemplateOutlet="baseFilterOperatorsTemplate"></ng-template>
  </ng-container>
</div>

<ng-template #baseFilterOperatorsTemplate>
  <div class="base-filter-operators">
    <button class="sdwi-button">
      <fa-icon [icon]="icons.filter"></fa-icon>
    </button>
    <button appDataBindVisibility [data]="formControl.value" (click)="formControl.reset()" class="sdwi-button">
      <fa-icon [icon]="icons.clear"></fa-icon>
    </button>
  </div>
</ng-template>
