form {
  padding: 1rem;
  color: #656565;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.card {
  margin: 20px;
  border: 1px solid gray;
}

.light-border {
  border: 1px solid lightcoral;
}
