<!-- <h3>Contact component</h3>
<button (click)="handleAdd()" class="sdwi-button">add user</button>
<button (click)="handleShow()" class="sdwi-button">show users</button>
<hr>
<app-child></app-child> -->


<!-- <button (click)="addBook()" class="sdwi-button">add book</button> -->
<!-- <div class="card light-border" #free appCompleted></div>

<ng-template #baseFilterOperatorsTemplate >
  <div class="base-filter-operators">
    <button class="sdwi-button">
      +
    </button>
    <button  class="sdwi-button">
      -
    </button>
  </div>
</ng-template>

<ng-template #view></ng-template>

<ng-template #book let-title="title" let-description="description">
  <div class="card">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <button class="sdwi-button">Add book</button>
  </div>
</ng-template> -->

<!-- <ng-container #view></ng-container> -->



<!-- <ng-container><div>This is div!</div></ng-container> -->


<form class="swdi-form" [formGroup]="formGroup">
  <app-form-field>
    <app-field-label>First name</app-field-label>
    <input #controlAnchor formControlName="firstName" class="sdwi-input" type="text">
    <app-field-error-label></app-field-error-label>
  </app-form-field>

  <app-form-field>
    <app-field-label>Last name</app-field-label>
    <input #controlAnchor formControlName="lastName" class="sdwi-input" type="text">
    <app-field-error-label>
    </app-field-error-label>
  </app-form-field>

  <app-form-field>
    <app-field-label>Email</app-field-label>
    <input #controlAnchor formControlName="email" class="sdwi-input" type="email">
    <app-field-error-label>{{formGroup.controls.email.errorMessage}}</app-field-error-label>
  </app-form-field>

  <app-form-field>
    <app-field-label>Phone number</app-field-label>
    <input prefix="+" [showMaskTyped]="true" placeHolderCharacter="*" suffix="$" mask="" #controlAnchor
      [formControl]="formGroup.controls.comment" class="sdwi-input" type="text">
    <app-field-error-label></app-field-error-label>
  </app-form-field>

  <app-form-field>
    <app-field-label>Comment</app-field-label>
    <input mask="M-M" [showMaskTyped]="true" [patterns]="customPattern" #controlAnchor
      [formControl]="formGroup.controls.comment" class="sdwi-input" type="text">
    <!--formControlName="comment"-->
    <app-field-error-label></app-field-error-label>
  </app-form-field>

  <app-form-field>
    <app-field-label>Count</app-field-label>
    <app-numeric-input [max]="465" [min]="2" #controlAnchor formControlName="count"></app-numeric-input>

  </app-form-field>

  <app-form-field class="no-error">
    <app-field-label>Count</app-field-label>
    <app-select #controlAnchor formControlName="gender">
      <app-option *ngFor="let option of options" [value]="option.val">{{option.viewValue}}</app-option>
    </app-select>
    <app-field-error-label></app-field-error-label>
  </app-form-field>

  <!-- <app-form-field>
    <app-field-label>Count</app-field-label>
    <input [max]="4" #controlAnchor formControlName="count" type="number">
    <app-field-error-label></app-field-error-label>
  </app-form-field> -->
</form>
