<ng-content></ng-content>

<!-- <app-branch>
  <app-branch-content></app-branch-content>
</app-branch> -->


<div class="sdwi-login">

  <h3>Authorization</h3>

  <form [formGroup]="formGroup" class="swdi-form" autocomplete="off">
    <app-form-field>
      <app-field-label>Name</app-field-label>
      <input swdiInput formControlName="name" class="sdwi-input" type="text">
      <app-field-error-label></app-field-error-label>
    </app-form-field>

    <app-form-field>
      <app-field-label>Email</app-field-label>
      <input swdiInput formControlName="email" class="sdwi-input" type="email" autocomplete="email">
      <app-field-error-label></app-field-error-label>
    </app-form-field>

    <app-form-field>
      <app-field-label>Password</app-field-label>
      <input swdiInput formControlName="password" class="sdwi-input" type="password" autocomplete="new-password">
      <app-field-error-label></app-field-error-label>
    </app-form-field>

    <app-form-field>
      <app-field-label>Confir password</app-field-label>
      <input swdiInput formControlName="confirmPassword" class="sdwi-input" type="password" autocomplete="new-password">
      <app-field-error-label></app-field-error-label>
    </app-form-field>
  </form>

  <!-- <ng-content></ng-content> -->
</div>


